:root {
	--color-background: #eef;
	--color-text: #345;
	--color-button: #ccd;
}

@font-face {
	font-family: 'Fonarto';
	src: url('/fonts/Fonarto.woff2') format('woff2'),
			url('/fonts/Fonarto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
	background-color: var(--color-background);
	color: var(--color-text);
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
}

/* @media screen and (prefers-color-scheme: dark) {
	:root {
		--color-background: #234;
		--color-text: #fed;
	}
} */
