:root {
  font-family: 'Outfit Variable', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
  text-rendering: optimizeSpeed;
  margin: 0;
}

.site {
  min-height: 100vh;
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
}
