---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>
    <span>Merhaba,</span>
    <span>ben Önder Bakırtaş.</span>
  </h1>

  <p>
    Kişisel sitemi yenileme kararı
    aldım. Bu süreçte siteyi biraz daha sade ve açıklayıcı hâle getirmek
    istedim. Kısa bir süre sonra (soon&trade;) yayına almayı planlıyorum.
    Uğradığınız için teşekkür ederim.
  </p>

  <button>Bana iyi şanslar dile</button>
</BaseLayout>

<style>
  h1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 6rem;
  }

  p {
    margin: 3rem 0 0;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
  }

  button {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--theme);
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
</style>
