---
import BaseLayout from "../layouts/BaseLayout.astro";
import logoWhite from "../assets/images/logo-300.svg";
import logoInitials from "../assets/images/ob-logo-light.png";
---

<BaseLayout>
  <!-- <h1>
    <img src={logoInitials.src} class="logo" alt="Önder Bakırtaş logo" />
    <span>Önder Bakırtaş</span>
  </h1> -->

  <h1>
    <span>Merhaba,</span>
    <span>ben Önder Bakırtaş.</span>
  </h1>

  <p>
    Kişisel sitemi yenileme kararı
    aldım. Bu süreçte siteyi biraz daha sade ve açıklayıcı hâle getirmek
    istedim. Kısa bir süre sonra (soon&trade;) yayına almayı planlıyorum.
    Uğradığınız için teşekkür ederim.
  </p>

  <button>Bana iyi şanslar dile</button>
</BaseLayout>

<style>
  h1 {
    display: flex;
    // align-items: center;
    flex-direction: column;
    margin: 0;
    font-size: 2rem;
    line-height: 1.5;
    // text-indent: -9999px;
    padding-top: 8rem;
  }

  .logo {
    height: 2.5rem;
    margin: 0 auto;
  }

  p {
    margin: 3rem 0 0;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--theme);
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
</style>
